.wrapper {
  display: inline-flex;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper .option {
  background: #fff;
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  cursor: pointer;
  padding: 18px 5px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .male {
  margin-right: 5px;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background-color: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #ffa300;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#male:checked:checked ~ .male,
#female:checked:checked ~ .female {
  border-color: #ffa300;
  background-color: #ffa300;
}
#male:checked:checked ~ .male .dot,
#female:checked:checked ~ .female .dot {
  background-color: var(--secondaryColor);
}
#male:checked:checked ~ .male .dot::before,
#female:checked:checked ~ .female .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 16px;
  color: #808080;
}
#male:checked:checked ~ .male span,
#female:checked:checked ~ .female span {
  color: var(--secondaryColor);
}